<!doctype html>
<html>

<head>
  <title>Upload Video</title>
  <script src="{{url_for('static', filename='load.js')}}"></script>
  <script src="{{url_for('static', filename='home.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body onload="showPageTransition()">
  <!--- Header -->
  <header>
    <h3 class="headerBackground text-white p-2">
      <img class="logo-style" src="./static/styles/logo.png">
      Video Caption Customization and Detection
    </h3>
  </header>


  <main class="container">
    <div class="tabs text-white">
      <button class="btn btn1 active text-white" id="1">Custom Video</button>
      <button class="btn btn2 text-white" id="2">Youtube</button>
    </div>

    <div class="sections text-white">
      <div id="CustomVideo" class="content content1 active">
        <form action="{{url_for('upload')}}" method="post" enctype="multipart/form-data">
          <input type="file" class="form-input-video" id="videoInput" name="video">
          <input type="submit" class="form-button-upload" id="submitVideoUpload" onclick="showPageTransition()"
            value="Upload" title="Upload Video">
        </form>
      </div>

      <div id="Youtube" class="content content2">
        <form action="{{url_for('uploadYTube')}}" method="post">
          <input type="text" name="url" id="urlUpload" placeholder="Enter youtube video url" style="width:400px"
            class="form-input-youtube"><br><br>
          <input type="submit" id="youTubeUpload" value="Upload" class="form-button-youtube" title="Upload Video">
        </form>
      </div>
    </div>
  </main>

  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
    integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V"
    crossorigin="anonymous"></script>

</body>

<!--- Footer -->
<footer id="footer">
  <span class="footerStyle">
    © 2023 All Rights Reserved: UNT, Software Testing Spring-23, Team 11
  </span>
</footer>

<div id="loader">
  <img class="style-loader" src="{{ url_for('static', filename='styles/loader.gif') }}">
</div>

</html>