<!doctype html>
<html>
<head>
    <title>Preview Video</title>
</head>
<body>
    <video width="400" height="400" controls  crossorigin="anonymous">
        <source src="{{url_for('static', filename='videos/' + video_name)}}" type="video/mp4">
        <track src="{{url_for('static', filename='videos/' +captionFile)}}" label="English" kind="captions" srclang="en-us" default >
        <track src="{{url_for('static', filename='videos/' +captionFile)}}" label="English" kind="subtitles" srclang="en-us" default >
<!-- 
        <source src="/static/videos/GoTrascript_captions_samples.mp4" type="video/mp4">
        <track src="/static/videos/captions-example.srt" label="English" kind="captions" srclang="en-us" default > -->
    </video>
<br>
<br>
<br>
<p>

	<li>{{ captionFile }}</li>
    <li>{{ video_name }}</li>
</p>
</body>
</html>