<!doctype html>
<html>

<head>
  <title>Preview Video</title>
  <script src="{{url_for('static', filename='constant.js')}}"></script>
  <script src="{{url_for('static', filename='load.js')}}"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/video-js.css') }}">

  <style type="text/css">
    .video-js .vjs-time-control {
      display: block;
    }

    .video-js .vjs-remaining-time {
      display: none;
    }
  </style>
</head>


<body onload="loadTrack()">

  <!--- Header -->
  <header>
    <h3 class="headerBackground text-white p-2">
      <img class="logo-style" src="./static/styles/logo.png">
      Video Caption Customization and Detection
    </h3>
  </header>

  <main class="align-vert">

    <div class='video-container'>
      <video id="content_video" crossorigin="anonymous" class="video-js vjs-default-skin vjs-16-9" controls
        preload="auto" width="640" height="400">

        <source src="{{url_for('static', filename='videos/' + video_name)}}" type="video/mp4">
        <track #track src="{{url_for('static', filename='videos/' +captionFile)}}" label={{trackLangLabel}}
          kind="captions" srclang={{trackLang}}>
      </video>
    </div>
    <form class="align-center new-video-btn-style" action="{{url_for('navigateToMain')}}" method="post">
      <input type="submit" class="action-btn-style" value="Try with New Video" title="Try with new video">
    </form>

    <!--- For Debugging --->
    <!-- <p>

      <li>{{ captionFile }}</li>
      <li>{{ video_name }}</li>
    </p> -->

  </main>

</body>
<script src='https://demo.screen9.com:8081/demos/grbla/hlsvtt/6207/video.js'></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
  integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"
  integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>


<!--- Footer -->
<footer id="footer">
  <span class="footerStyle">
    © 2023 All Rights Reserved: UNT, Software Testing Spring-23, Team 11
  </span>
</footer>

</html>