#Following is for windows, for Mac please run all the commands individually

moviepy==1.0.3
pytube==12.1.0
Flask==2.2.2
git+https://github.com/openai/whisper.git

#pip install iso639
#pip install langdetect


# Run below command in terminal to install required dependencies
# pip install -r requirements.txt